<head>
    <% include ./partials/styles %>
</head>

<body>

    <% include ./partials/navbar %>


    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container is-fluid">

                <div class="columns">

                    <div class="column">
                        <h1 class="title">
                            List for Spotify
                        </h1>
                        <h2 class="subtitle">
                            A social media platform focused on sharing your (Spotify's) Liked Songs list. A new way to
                            discover songs!
                        </h2>

                        <div class="columns">

                            <div class="column">
                                <a class="button is-primary" href="/users">
                                    <strong>See all users!</strong>
                                </a>
                                <a class="button is-light" href="/sign_up">Sign Up!</a>

                                <br>
                                <br>

                                <h6 class="subtitle">By signing up, you agree to the <a href="/privacypolicy">privacy
                                        policy</a>
                                </h6>

                            </div>
                        </div>
                    </div>

                    <div class="column">

                        <% if(user.length !== 0){ %>
                        <h1 class="title">Latest User</h1>
                        <article class="media">
                            <figure class="media-left">

                                <% if(user[user.length - 1]['images'].length > 0){ %>
                                <p class="image is-64x64">
                                    <img src="<%=user[user.length - 1]['images'][0]['url']%>">
                                </p>
                                <% }else{ %>
                                <p class="image is-64x64">
                                    <img src="https://procurement.unl.edu/images/staff-photos/y_u_no_photo_Square.png">
                                </p>
                                <% }%>

                            </figure>

                            <div class="media-content">
                                <div class="content">
                                    <p>

                                        <a
                                            href="/user/<%= user[user.length - 1]['id'] %>"><strong><%= user[user.length - 1]['name'] %></strong></a>

                                        @<%= user[user.length - 1]['name'].replace(" ", "").toLowerCase() %>

                                        <br>

                                        <strong>Latest liked song</strong>

                                        <br>

                                        <a href="<%= user[user.length - 1]['liked_songs'][0]['open_html_link']%>"><%= user[user.length - 1]['liked_songs'][0]['track_name']%>
                                            by <%= user[user.length - 1]['liked_songs'][0]['track_artist_name']%></a>
                                    </p>
                                </div>

                            </div>
                        </article>

                        <% } %>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <div class="container is-fluid">

        <section class="section">
            <h2 class="title">
                Uptime of List (Hosted on c9.io)
            </h2>
            <h2 class="subtitle">
                Only for users of List that is NOT visiting this on <a href="https://listforspotify.herokuapp.com">https://listforspotify.herokuapp.com</a>
            </h2>
            <p>Great! You are using the Stable version of List, however... due to the nature of c9.io, List will not be online 24/7 and it will close the moment SSH connection is clsoed to the Server. The server is online because of me SSH'ing into the server and running the server but sometimes, I can't keep the server up 24/7 (as I have to sleep!). So using each Hoster has its own tradeoff (heroku being that it has non persistent data when a new update is pushed and c9.io being that it can't have an uptime of 24/7)</p>
        </section>

        <section class="section">
            <h2 class="title">
                List is currently back to Beta (for <a href="https://listforspotify.herokuapp.com">Heroku</a>)
            </h2>
            <h2 class="subtitle">
                Sadly, Heroku isn't that reliable.
            </h2>
            <p>You are currently using the Stable version of List! (Hosted on c9.io). For users of
                https://listforspotify.herokuapp.com, You are using the Beta version of List. Read more at the <a
                    href="/faq">FAQ</a> page. </p>
        </section>
    </div>

    <% include ./partials/footer %>

    <script>
        function authorise_user(client_id, redirect_uri, show_dialog, scope) {
            let redirect_link =
                `https://accounts.spotify.com/authorize?client_id=${client_id}&response_type=token&redirect_uri=${redirect_uri}&show_dialog=${show_dialog}&scope=${scope}`
            return redirect_link
        }

        if (window.location.hash) {
            let token = window.location.hash.substr(1).split("&")[0].split("=")[1];
            window.location = `/post_authentication/${token}?type=new`
        }
    </script>
</body>