<head>
    <% include ./partials/styles %>
</head>

<body>

    <% include ./partials/navbar %>

    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">
                    <%=user["name"]%>'s List
                </h1>
                <h2 class="subtitle is-4">
                    This profile's User ID is <strong><%=user["id"]%></strong>. Songs not updating? <a
                        href="/sign_in">Sign In!</a>
                </h2>

                <a class="button is-primary"
                    target="__blank"
                    href="<%=user["liked_songs"][Math.round(Math.random() * user["liked_songs"].length)]["open_html_link"]%>">
                    <strong>Pick a random song!</strong>
                </a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container is-fluid">
            <h1 class="title">Liked Songs</h1>
            <!-- Checking if empty or not -->
            <% if(user["liked_songs"].length !== 0){ %>

            <div class="columns is-multiline is-one-quater">
                <% user["liked_songs"].forEach((song, n) => { %>
                <div class="column is-half">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="<%= song['album_image'] %>">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong><a href="<%= song['open_html_link'] %>"
                                            target="_blank"><%= n+1 %> - <%= song['track_name'] %></a></strong>
                                    <br>
                                    By <%= song['track_artist_name'] %>
                                </p>
                            </div>

                        </div>
                    </article>
                </div>
                <% }) %>
            </div>


            <% }else{ %>
            <h1><%=user["name"]%>'s Profile</h1>
            <p><%=user["name"]%> has no liked songs as of now :(</p>
            <% } %>
        </div>
    </section>

    <% include ./partials/footer %>
</body>