<head>
    <% include ./partials/styles %>
</head>

<body>
    <!-- Checking if empty or not -->
    <% if(user["liked_songs"].length !== 0){ %>
        <h1><%=user["name"]%>'s Profile</h1>

        <% include ./partials/update_signup_a %>

        <ul>
        <% user["liked_songs"].forEach(song => { %>
            <li>
                <a href="<%= song.open_html_link %>" >
                    <%= song.track_name %> by <%= song.track_artist_name %>
                </a>
            </li>
        <% }) %>
        </ul>
    <% }else{ %>
        <h1><%=user["name"]%>'s Profile</h1>
        <% include ./partials/update_signup_a %>
        <p><%=user["name"]%> has no liked songs as of now :(</p>
    <% } %>
</body>