<head>
    <% include ./partials/styles %>
</head>

<body>

    <% include ./partials/navbar %>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">
                    Ooo... It's the users page!
                </h1>
                <h2 class="subtitle">
                    And... we have <%= users.length %> user(s).
                </h2>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="container is-fluid">
            <% users.forEach((user) => { %>
            <article class="media">



                <figure class="media-left">

                    <% if(user['images'].length > 0){ %>
                        <p class="image is-64x64">
                            <img src="<%=user['images'][0]['url']%>">
                        </p>
                    <% }else{ %>
                        <p class="image is-64x64">
                            <img src="https://procurement.unl.edu/images/staff-photos/y_u_no_photo_Square.png">
                        </p>
                    <% }%>

                </figure>

                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%= user['name'] %></strong>
                            @<%= user['name'].replace(" ", "").toLowerCase() %>
                            <br>
                            ID: <%= user['id'] %>

                            <br>

                            <a href="/user/<%= user['id'] %>">See their List</a>

                            <br>
                            <br>

                            <strong>Latest liked song</strong>

                            <br>

                            <a href="<%= user['liked_songs'][0]['open_html_link']%>"><%= user['liked_songs'][0]['track_name']%> by <%= user['liked_songs'][0]['track_artist_name']%></a>
                        </p>
                    </div>

                </div>
            </article>
            <% }) %>
        </div>
    </section>

    <% include ./partials/footer %>

</body>